@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

* {
  transition: all 0.3s ease-out;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
